<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">

    <Properties>
        <Property name="loglayout">[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5p](%c) %m%n</Property>
        <Property name="logDir">${sys:logDir}</Property>
        <Property name="logFile">${sys:logFile}</Property>
    </Properties>

    <Appenders>
        <RollingFile name="rolling" fileName="${logDir}/${logFile}.log" filePattern="${logDir}/${logFile}-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${loglayout}"/>
            <Policies>
                <!--<OnStartupTriggeringPolicy />-->
                <!--<TimeBasedTriggeringPolicy />-->
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="kotlin_playground"  additivity="false">
            <AppenderRef ref="rolling"/>
        </Logger>
        <Logger name="kotlin_playground2"  additivity="false">
            <AppenderRef ref="rolling"/>
        </Logger>
    </Loggers>
</Configuration>